@model HospitalProject.Models.DepartmentDto

@{ ViewBag.Title = "DeleteConfirm"; }

<h2>Are you sure you want to delete this Department?</h2>
<nav>
    <ul>
        <li><a href="/Department/Index">Cancel</a></li>
        <li><a href="/Department/Edit/@Model.DepartmentID">Update</a></li>
    </ul>
</nav>
<h3>Department Name: @Model.DepartmentName</h3>
<div>Department Id: @Model.DepartmentDescription </div>
<form action="/Department/Delete/@Model.DepartmentID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>