
@{ ViewBag.Title = "Index"; }

<h2>Please type in your Department ID to view information:</h2>
<form action="/Department/Details" method="POST">
    <label for="id">Enter your Department ID: </label>
    <input type="text" id="id" name="id" />
    <button type="submit">Submit</button>
</form>
<div>
    <a href="/Department/New">Add A New Department</a>
</div>

