@model HospitalProject.Models.AppointmentsDto
@{ ViewBag.Title = "Details"; }

<h2>Appointment Details of : @Model.AppointmentsDateAndTime</h2>
<div>
    <p>@Model.PatientID</p>
    <p>@Model.DoctorID</p>
</div>

